= simple_form_for(@announcement, html: { class: 'form-horizontal' }) do |f|  
  = f.input :title, label: "Title", input_html: { maxlength: 17 }, include_blank: false
  = f.input :description, label: "Description", input_html: { maxlength: 500 }, include_blank: false
  &nbsp
  = f.button :submit, class: %w[button btn btn-outline-success]
