/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require easy-autocomplete
 *= require easy-autocomplete.themes
 */

 body {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  height: 100%;
  --blue: #4791ff;
  --yellow: #ffbf00;
  --grey-background: #F8F9FA;
}

 .nav-item {
   padding: auto 16px;
 }

 .navbar #user-link {
   position: relative;
   padding-left: 40px;
 }

 .navbar img {
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
   height: 30px;
   border-radius: 50%;
 }

a {
 color: #333;
 text-decoration: none;
 transition: 0.1s;
}

a:hover {
 text-decoration: none;
 color: var(--blue);
}

.navbar-expand-lg .navbar-brand {
 color: #286CFF;
 font-family: 'Kaushan Script';
 font-size: 28px !important;
 letter-spacing: 0.65px;
}

/* Login & Create */

.session-container {
  height: auto;
  min-height: 100vh;
  background-color: var(--grey-background);
  padding-top: 48px;
}

.form-wrapper {
  background-color: white;
  height: auto;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #AAA;
  padding: 20px 20px;
  margin-bottom: 64px;
}

.form-wrapper h2 {
  text-align: center;
  margin-bottom: 24px;
}

.field {
  padding-top: 24px;
}

.input {

  border: none;
  box-shadow: 0px 1px 4px #CCC;
}

.session-input {
  border: none;
  box-shadow: 0px 1px 4px #CCC;
}

.actions {
  padding: 12px 0px;
}

.actions>div {
  padding: 12px;
}

.actions>div>div {
  padding: 0px 4px;
}

.actions .btn {
  /* background-color: coral; */
  width: 100%;
  padding: 8px 0px;
  /* margin: 4px 0px; */
}

.actions .btn-primary {
  background-color: var(--blue);
}

.actions .btn-secondary {
  /* background-color: var(--background-grey); */
}

.btn-link {
  padding: 0;
  color: #AAA;
}

.btn-link:hover {
  text-decoration: none;
}

.link--forgot {

  /* font-style: italic; */
}


/* Profile Views */

label.cabinet {
  position: relative;
  width: 100%;
  height: 40px;

  display: block;
  overflow: hidden;
  cursor: pointer;
}

label .text {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

label.cabinet input.file {
  position: relative;
  margin-top: 50px;
  height: 100%;
  width: auto;
  opacity: 0;
  cursor: pointer;

}

.form-container {
  margin-bottom: 64px;
}

.file_input {
  background-color: coral;
}

.form-img-wrapper {
  position: relative;
  padding: 0px 48px;
  padding-top: 5px;
}

.form-img-wrapper .img-upload {
  width: 100%;
}

.form-container img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 24px;
}

.form-container h4 {
  margin-bottom: 12px;
  text-transform: uppercase;
}

.form-section {
  margin-bottom: 60px;
}

.form-container .btn {
  /* width: 50%;  */
}

.danger {

}

/* .form-container .actions {
  margin-bottom: 48px;
} */


/* Search Members */

.user-tile-link:hover {
  color: #333;
}

.profile-container {

}

.profile-side-wrapper {
  /* background-color: coral; */
}

.profile-button-wrapper {
  margin-top: 100px;
}



.title-container {
 margin: 24px auto 12px auto;
}

.input {
}

.title-container .button {
  margin-left: 8px;
}

.sort-container {
  /* display: inline-block; */
  margin-bottom: 12px;
}

.upload-image-col {
  max-width: 260px;
}

.user-tile-wrapper {
  padding: 8px;
  height: auto;
}

.user-tile {
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #CCC;
  transition: 0.2s;
}

.user-tile:hover {
  transform: scale(1.03);
}

.user-tile-img {
  position: relative;
  height: 244px;
  background-size: cover;
  background-position: center;
}

.user-tile-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--blue);
  opacity: 0;
  transition: 0.2s;
}

.user-tile-img-overlay p {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.user-tile-link:hover .user-tile-img-overlay {
  opacity: 0.8;
}

.user-tile-info, .user-contact {
  padding: 8px 16px 12px 16px;
  letter-spacing: 1px;
}

.user-tile-info p {
  font-size: 14px;
  margin: 0;
  /* line-height: 18px; */
}

.team {
  /* text-transform: uppercase; */
  font-weight: 700;
  color: var(--yellow);
}

.user-tile h4 {
  font-size: 20px;
  /* color: #333; */
}

.user-about {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 210px;
}

.skillset {
  color: #666;
  font-style: italic;
  margin-bottom: 16px;
}

.user-contact {
  /* background-color: coral; */
  width: 40%;
}

.user-contact .inactive i {
  color: #CCC;
}

.contact {
  margin-right: 4px;
  /* margin-top: 24px; */
  color: #333;
  display: inline-block;
}


/* Footer */
footer {
  background-color: #EEE;
  padding: 24px 0px;
  position: ab;
  width: 100%;
  bottom: 0;
  margin-top: 96px;
}

/* Announcement */
.ann-tile-wrapper {
  padding: 15px;
  height: auto;
}

.ann-tile {
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #CCC;
  transition: 0.2s;
}

.ann-tile:hover {
  transform: scale(0.9);
}

.ann-tile-link:hover .user-tile-img-overlay {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 1;
  
}

